
/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html {

    &:before {
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        line-height: 1;
        z-index: 1;
        background-image: -webkit-linear-gradient(left, #263650 20%, #E74E4E 20%, #E74E4E 40%, #F7FBFC 40%, #F7FBFC 60%, #57CBFF 60%, #57CBFF 80%, #2273AA 80%, #2273AA 100%);
        background-image: -moz-linear-gradient(left, #263650 20%, #E74E4E 20%, #E74E4E 40%, #F7FBFC 40%, #F7FBFC 60%, #57CBFF 60%, #57CBFF 80%, #2273AA 80%, #2273AA 100%);
        background-image: -ms-linear-gradient(left, #263650 20%, #E74E4E 20%, #E74E4E 40%, #F7FBFC 40%, #F7FBFC 60%, #57CBFF 60%, #57CBFF 80%, #2273AA 80%, #2273AA 100%);
        background-image: linear-gradient(left, #263650 20%, #E74E4E 20%, #E74E4E 40%, #F7FBFC 40%, #F7FBFC 60%, #57CBFF 60%, #57CBFF 80%, #2273AA 80%, #2273AA 100%);
    }
}

body {
	/* Positioning */

	/* Display and Box Modal */
	box-sizing: border-box;
	width: 430px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
	padding-bottom: 2em;

	/* Color */
	color: $base-font-color;
	background-color: $base-bg-color;

	/* Text */
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 400;
	font-size: em($base-font-size);
	line-height: $base-line-height;

	/* Other */
	@include mq(750px){
		width: 660px;
		font-size: em(21px);
	}
}

.site-main {
	margin-bottom: em($base-spacing-unit * 3);

	@include mq(750px) {
        margin-left: -12px;
	}
}


.primary-list {
    margin-left: 2em;

    @include mq(750px) {
        margin-left: 7em;
    }
}
