<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <ul class="primary-list">
            <li><a href="http://www.radiolab.org/">RadioLab</a></li>
            <li><a href="http://www.thisamericanlife.org/">This American Life</a></li>
            <li><a href="http://fourhourworkweek.com/podcast/">The Tim Ferriss Show</a></li>
            <li><a href="https://gimletmedia.com/show/startup/">StartUp Podcast</a></li>
            <li><a href="https://gimletmedia.com/show/reply-all/">Reply All</a></li>
            <li><a href="http://crossfitfederalhill.libsyn.com/">4th Pull Podcast</a></li>
            <li><a href="https://serialpodcast.org/">Serial</a></li>
            <li><a href="http://www.dancarlin.com/product-category/hardcore-history/current-hardcore-history/">Hardcore History</a></li>
            <li><a href="http://www.bengreenfieldfitness.com/podcasts/">Ben Greenfield Fitness</a></li>
            <li><a href="http://themoth.org/radio/episodes">The Moth Podcast</a></li>
            <li><a href="https://gimletmedia.com/show/surprisingly-awesome/">Surprisingly Awesome</a></li>
        </ul>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
